<div class="row">
        <div class="col-md-4  mx-auto">
            <h2>Login</h2>
            <div *ngIf="status" class="alert" [ngClass]="status.class">{{status.message}}</div>
            <form [formGroup]="form" (submit)="login()">   
            
                <div class="form-group">
                        <label for="email" class="for">Email</label>
                        <input type="email"name="email" class="form-control" formControlName="email">
                    </div>
                    <div class="form-group">
                            <label for="password" class="for">Password</label>
                            <input type="password"name="password" class="form-control" formControlName="password">
                        </div>
                        <div class="form-group">
                                <button type="submit" name="submit" class="btn btn-success">Login</button>
                            </div>
                        </form>
    
        </div>
    </div>
    
